PORT=
CORS_ORIGIN=
NODE_ENV=development

# DATABASE
# Database configuration
DATABASE_EXTERNAL_PORT=
DATABASE_INTERNAL_PORT=

# The uri for the MongoDB database.
DATABASE_URI=

# The username for the MongoDB database.
DATABASE_USER=

# The password for the MongoDB database.
DATABASE_PASSWORD=

# The name of the MongoDB database.
DATABASE_NAME=

#Cache
REDIS_SOCKET_HOST=
REDIS_EXTERNAL_PORT=
REDIS_INTERNAL_PORT=
TTL_IN_MINUTES=

#ONLY DEVELOPMENT PURPOSES. DO NOT USE IN PRODUCTION
NODE_TLS_REJECT_UNAUTHORIZED=

AUTH_BASE_URL=
CLIENT_ID=
CLIENT_SECRET=
REALM=
CLIENT_KEYCLOAK_ID=

CRYPTO_SECRET_KEY=

TIMEOUT=    
MAX_REDIRECTS=
SEND_EMAILS_LIMIT=

TAG=
APP_VERSION=
ASSETS_ROOT_PATH=

ASSETS_PREFIX=

TEMPORAL_ASSETS_ROOT_PATH=

TEMPORAL_ASSETS_PREFIX=

OWN_PLATFORM_BASE_URL=
OWN_PLATFORM_ALIAS=


#Variables from the frontend client. Do not use on production environment, only dev purposes
#Frontend variables must be assigned via fivolution-manager
FRONTEND_CLIENT_BASE_URL=
FRONTEND_CLIENT_KEYCLOAK_ID=
FRONTEND_CLIENT_EMAIL=
FRONTEND_CLIENT_FORGOT_URL=


MIGRATION_FILE_PATH=